.home-header {
  background: #2a2a2a;
  color: #fff;
  height: 56px;
  line-height: 56px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  .home-header-logo {
    img {
      width: 145px;
      height: 40px;
      margin-top: 8px;
    }
    .home-header-btn {
      float: right;
      margin-right: 11px;
    }

  }
  .home-header-list {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #2a2a2a;
    li {
      line-height: 46px;
      border-top: 1px solid #464646;
      text-align: center;
    }
  }
}

.home-slider {
  height: 170px;
  position: relative;
  img {
    height: 100%;
  }
  div {
    height: 100%;
  }
  .home-slider-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      margin: 10px;
    }
    li.active {
      background-color: red;
    }
  }
}

.lesson-list {
  text-align: center;
  p {
    color: #777777;
    line-height: 40px;
  }
  span {
    color: #ed3a3a;
    line-height: 30px;
  }
  li {
    box-shadow: 1px 1px 3px 2px #c1c1c1, -1px 1px 3px 2px #c1c1c1;
    margin-bottom: 17px;
    img {
      height: 140px;
    }
  }
}
.container h3 {
  line-height: 49px;
  color: #3b3b3b;
  font-weight: normal;
}
